@charset "utf-8";
/* 首页样式 */

/* banner 样式 */
.banner {
    height: 200px;
    perspective: 300px;
    background: 
        url("../img/banner.png") center no-repeat,
        linear-gradient(-90deg,#e75c77,#ff9489) center center no-repeat,
        linear-gradient(90deg,#ff9489 0%,#ff9489 50%,#e75c77 50%) center center no-repeat;
    background-size: auto auto,1600px 200px,100% 200px;
    overflow: hidden;
}
@keyframes title {
  0% {
    transform: rotateX(5deg) rotateY(10deg);
  }
  3% {
    transform: rotateX(-4deg) rotateY(-8deg);
  }
  6% {
    transform: rotateX(3deg) rotateY(6deg);
  }
  9% {
    transform: rotateX(-2deg) rotateY(-4deg);
  }
  12% {
    transform: rotateX(1deg) rotateY(2deg);
  }
  15% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
.banner-title {
    margin: 63px auto 0;
    width: 199px;
    height: 0;
    padding-top: 35px;
    overflow: hidden;
    background: url("../img/banner-title.png") no-repeat; 
}
.banner-title:hover {
  animation: title 2.2s;
}
@keyframes slogan {
  0%{
    background-position: 0 0;
  }
  100% {
    background-position: 310px 0;
  }
}
.banner-slogan {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    font: 20px/46px "微软雅黑";
    color:rgba(255, 255, 255, .7);
    background: linear-gradient(46deg,rgba(255,255,255, 0) 0, rgba(255,255,255, 0) 15%, rgba(255,255,255, 1) 25%, rgba(255,255,255, 1) 28%, rgba(255,255,255, 0) 38%) repeat-x 0 0;
    -webkit-background-clip: text;
    animation: slogan 3s infinite linear;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .15);
}

/* 导航 样式 */
.index-nav {
  padding: 22px 0 20px;
}
.index-nav div {
  float: left;
  margin-right: 50px;
  perspective: 100px;
}
.index-nav p {
  transform-origin: center center -18px;
  transform-style: preserve-3d;
  height: 36px;
  transition: .3s;
}
.index-nav a {
  border: solid  transparent;
  border-width: 3px 0;
  display: block;
  font: 18px/30px "微软雅黑";
  color: #000;
  backface-visibility: hidden;
}
.index-nav a:nth-child(2) {
  transform-origin: top;
  transform: rotateX(-90deg);
  color: #e75c77;
  border-bottom-color: #e75c77;
}
.index-nav .active p,
.index-nav div:hover p{
  transform: rotateX(90deg);
}


/* 主体 样式 */
.index-main {
  padding-bottom: 25px;
}

/* 课程列表 */
.course-list {
  width: 885px;
}
.course-list li {
  float: left;
  width: 280px;
  margin: 0 15px 25px 0;
  perspective: 500px;
}
.course-list .course {
  background: #fff;
  height: 394px;
  transform-style: preserve-3d;
  border-radius: 8px;
}
.course-list img {
  border-radius: 8px 8px 0 0;
  width: 280px;
  height: 280px;
}
.course-title {
  margin: 10px 15px 0;
  font: 16px/36px "微软雅黑";
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.course-title {
  margin: 10px 15px 0;
  font: 16px/36px "微软雅黑";
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.course-mask {
  padding: 0 15px;
}
.course-mask mark {
  float: left;
  margin-right: 10px;
  padding: 0 14px;
  border: 1px solid #eee;
  font: 14px/22px "微软雅黑";
  color: #949fab;
  border-radius: 12px;
}
.course-list .watch-nub {
  float: left;
  margin-left: 15px;
  font: 14px/40px "微软雅黑";
  padding-left: 30px;
  background: url("../img/watch-icon.png") no-repeat 0 center;
  color:#949fab;
}
.course-list .price {
  float: right;
  margin-right: 15px;
  font: bold 16px/40px "微软雅黑";
  color: #e75c77;
}
.course-list-more {
  position: relative;
  height: 24px;
}
.course-list-more .btn {
  position: absolute;
  left: 430.5px;
  top: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #9aabb7;
  border-radius: 50%;
  font: 16px/22px "微软雅黑";
  color: #9aabb7;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
.course-list-more .btn:hover {
  transform: rotate(360deg);
}
.course-list-more .loading {
  position: relative;
  z-index: 1;
  padding: 7px 0;
  height: 10px;
  text-align: center;
  transform: scale(0);
} 
.course-list-more .loading span {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  /* border: 1px solid #9aabb7; */
  border-radius: 50%;
  background: #9aabb7;
}

/* 排行榜样式 */
.ranking-list {
  width: 300px;
}
.ranking {
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .2)
}
.ranking-header {
  position: relative;
  height: 85px;
  border-radius: 8px 8px 0 0;
}
.ranking-title {
  width: 108px;
  padding: 22px 0 0 25px;
  font: bold 18px/24px "微软雅黑";
  color: #fff;
}
.ranking-order {
  padding: 10px 0 11px;
}
.ranking-order li {
  height: 36px;
  float: left;
  width: 100%;
}
.ranking-order a {
  display: block;
  height: 36px;
  padding: 0 15px;
  transition: .1s;
  font: 14px/36px "微软雅黑";
}
.ranking-order a:hover {
  margin: -14px -20px;
  padding: 14px 30px;
  background: url("../img/ranking-order-hover.png") no-repeat;
  background-size: cover;
  font-size: 16px;
}
.ranking-order .nub {
  float: left;
  font-style: italic;
  color: #9dadb9;
}
.ranking-order p {
  float: left;
  margin-left: 12px;
  color: #999;
}
.ranking-order .good p,
.ranking-order .good .nub {
  color: #e75c77;
}
.ranking-order .sum {
  float: right;
  color: #e75c77;
}

.watch-ranking .ranking-header {
  background: url("../img/watch-ranking-header.png") no-repeat;
}
@keyframes ranking-icon{
  0%{
    transform: rotate(20deg)
  }
  10%{
    transform: rotate(-18deg)
  }
  20%{
    transform: rotate(16deg)
  }
  30%{
    transform: rotate(-14deg)
  }
  40%{
    transform: rotate(12deg)
  }
  50%{
    transform: rotate(-10deg)
  }
  60%{
    transform: rotate(8deg)
  }
  70%{
    transform: rotate(-6deg)
  }
  80%{
    transform: rotate(4deg)
  }
  90%{
    transform: rotate(-2deg)
  }
  100%{
    transform: rotate(0deg)
  }
}
.watch-ranking-icon {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 76px;
  height: 24px;
  background: url("../img/watch-ranking-icon.png") no-repeat;
}
.watch-ranking-icon span {
  position: absolute;
  top: 24px;
  left: -5px;
  width: 86px;
  height: 74px;
  background: url("../img/watch-ranking-icon-2.png") no-repeat;
  transform-origin: 41px 0;
}
.watch-ranking-icon:hover span {
  animation: 1s ranking-icon;
}
.buy-ranking {
  margin-top: 25px;
}
.buy-ranking .ranking-header {
  background: url("../img/buy-ranking-header.png") no-repeat;
}
.buy-ranking-icon {
  position: absolute;
  top: 6px;
  right: 9px;
  width: 78px;
  height: 109px;
  background: url("../img/buy-ranking-icon.png") no-repeat;
  transform-origin: 36px 39px;
}
.buy-ranking-icon:hover {
  animation: 1s ranking-icon;
}